@charset "UTF-8";
body {
  background: #eceefd;
}

:root {
  --c-genel: #6c4be4;
  --c-white: white;
  --c-black: black;
  --f-bigsize: 24px;
  --f-smsize: 20px;
  --f-xssize: 12px;
}

.aside {
  float: left;
  margin: 100px 0px 100px 70px;
  display: none;
}

.nav-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#8d49f2), to(#595bfb));
  background: linear-gradient(#8d49f2, #595bfb);
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 25px;
  position: relative;
}

.nav-wrap__img img {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.nav-wrap__img a {
  color: white;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-decoration: none;
}

.nav-wrap__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-wrap__navlink {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--c-white);
  text-decoration: none;
  margin: 20px;
  padding-left: 70px;
  text-align: left;
}

.nav-wrap__navlink.active {
  font-weight: bold;
}

.nav-wrap__nav a:nth-child(1) {
  padding-top: 50px;
}

.nav-wrap__nav a:nth-child(7) {
  padding-bottom: 200px;
}

.nav-wrap__card {
  background: #e2d7ff;
  border-radius: 30px;
  color: var(--c-genel);
  padding-bottom: 30px;
  padding-left: 20px;
  padding-top: 50px;
  position: relative;
  text-align: left;
}

.nav-wrap__card span {
  max-width: 140px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.after {
  content: "";
  background: #546ab6;
  border-radius: 100px;
  bottom: 0;
  position: absolute;
  width: 4px;
  height: 4px;
  right: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 30px;
}

.after--card {
  top: 36px;
}

.after--card:hover {
  cursor: pointer;
}

.after--card2 {
  top: 42px;
}

.after--card2:hover {
  cursor: pointer;
}

.after--color {
  background: #78797a;
}

.after--color:hover {
  cursor: pointer;
}

.after--profıtcard {
  background: #78797a;
  left: 155px;
}

.after--profıtcard:hover {
  cursor: pointer;
}

.after--profıtcard--one {
  background: #78797a;
  top: 30px;
  left: 162px;
}

.after--profıtcard--two {
  background: #78797a;
  top: 30px;
  left: 168px;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3ff), to(#e8e9fe));
  background: linear-gradient(#f3f3ff, #e8e9fe);
  border-radius: 45px;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 5px 50px 40px;
  position: absolute;
  z-index: -1;
}

.card {
  padding: 10px 0;
}

.sessionscard {
  padding-top: 20px;
  position: relative;
}

.sessionscard__title {
  color: var(--c-black);
  font-size: 15px;
  margin: 0px;
}

.sessionscard__title1 {
  color: var(--c-genel);
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.sessionscard__title2 {
  color: var(--c-black);
  font-size: var(--f-xssize);
}

.subscriberscard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--c-white);
  border-radius: 25px;
  padding: 5px 10px 5px 46px;
  margin: 5px;
  position: relative;
  text-align: left;
}

.subscriberscard__title {
  font-size: var(--f-xssize);
  color: var(--c-black);
  margin: 0;
  white-space: nowrap;
}

.subscriberscard__title1 {
  color: var(--c-genel);
  font-size: var(--f-smsize);
  font-weight: bold;
  margin-bottom: 9px;
  margin-top: 9px;
}

.subscriberscard__title2 {
  color: var(--c-black);
  font-size: var(--f-xssize);
  margin: 0;
}

.profıtcard {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--f-xssize);
  padding: 16px;
  position: relative;
}

.profıtcard__title {
  color: var(--c-black);
}

.profıtcard__desc5--background {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--c-white);
  border-radius: 20px;
  color: var(--c-black);
  padding: 2px;
  height: 17px;
  width: 26%;
  text-align: center;
}

.profile__growth {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__overal h3 {
  color: var(--c-genel);
  margin-bottom: 0px;
}

.profile__overal p {
  color: var(--c-black);
  font-size: var(--f-xssize);
  margin-top: 0px;
}

.profile__chart {
  margin-top: 90px;
  margin-bottom: 50px;
}

.profile__chart svg {
  width: 400px;
}

.button {
  background: var(--c-white);
  border-radius: 26px;
  padding: 6px 6px 10px 6px;
}

.button__one {
  border-radius: 15px;
  color: var(--c-genel);
  font-size: var(--f-xssize);
  margin: 2px;
  padding: 2px 4px 2px 6px;
  text-decoration: none;
}

.button__one:hover {
  cursor: pointer;
}

.button__two {
  background: -webkit-gradient(linear, left top, right top, from(#585df9), to(#673ee2));
  background: linear-gradient(90deg, #585df9, #673ee2);
  border-radius: 15px;
  color: var(--c-white);
  font-size: var(--f-xssize);
  margin: 2px;
  padding: 2px 14px;
  text-decoration: none;
}

.button__two:hover {
  cursor: pointer;
}

.open {
  padding: 0px 10px;
  font-size: var(--f-xssize);
}

.usertitle {
  position: relative;
  font-size: 16px;
}

.usertitle__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.usertitle__img {
  margin: 0px 10px 0 0;
  margin-bottom: 20px;
}

.usertitle__namewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.usertitle__name {
  color: #3415a3;
  margin: 10px 0px 0px 0px;
  text-align: left;
}

.usertitle__job {
  color: #4023aa;
  margin: 0px;
}

.usertitle__handle:hover {
  cursor: pointer;
}

.usertitle__handle::after {
  content: "";
  background: #546ab6;
  border-radius: 100px;
  bottom: 0;
  height: 2px;
  position: absolute;
  right: 0px;
  top: 18px;
  width: 15px;
}

.usertitle__handle--two {
  height: 2px;
  position: absolute;
  right: 0px;
  top: 6px;
  width: 10px;
}

.usertitle__handle--two:hover {
  cursor: pointer;
}

.opentitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.opentitle .subtitle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--c-white);
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  padding: 12px;
  position: relative;
  white-space: nowrap;
}

.opentitle__sub1 {
  color: var(--c-genel);
  font-size: var(--f-smsize);
  font-weight: bold;
}

.opentitle__pro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opentitle__detail {
  background: -webkit-gradient(linear, left top, right top, from(#5f64fa), to(#673ee2));
  background: linear-gradient(90deg, #5f64fa, #673ee2);
  border-radius: 8px;
  padding: 14px;
}

.analytics__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.analytics__title {
  color: var(--c-genel);
  font-size: 18px;
  font-weight: bold;
  margin-top: 21px;
}

.analytics__date {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analytics__date-subtitle {
  color: #4023aa;
  margin: 0;
  text-align: center;
}

.analytics__date-sub {
  background: white;
  border-radius: 12px;
  min-width: 54px;
  text-align: center;
  padding: 40px 8px 8px;
}

.analytics__date-sub--padding {
  padding: 100px 8px 8px;
}

.date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.date__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: var(--f-xssize);
  text-align: center;
}

.date__day--background {
  background: var(--c-white);
  border-radius: 20px;
  padding: 10px;
  position: relative;
}

.date__day--background ::before {
  content: "";
  border-radius: 100px;
  border: 1.4px #000000 solid;
  bottom: 0;
  height: 1.8px;
  position: absolute;
  right: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 50%;
  width: 1.8px;
}

.date__daysub {
  color: var(--c-genel);
}

.date__daysub--color {
  color: black;
}

.date__day--after {
  position: relative;
}

.date__day--after ::after {
  content: "";
  background: orange;
  border-radius: 100px;
  bottom: 0;
  height: 4px;
  left: 110%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 12px;
  width: 4px;
}

.search {
  margin-top: 20px;
}

.search__wrap {
  background: #fff;
  border-radius: 28px;
  max-width: 280px;
  padding: 13px 15px;
  position: relative;
}

.search__input {
  border: none;
  color: #4023aa;
  font-size: 14px;
  padding-left: 28px;
}

.audit {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21px;
}

.audit__title {
  margin: 0;
  text-align: center;
}

.audit__text {
  background: var(--c-white);
  border-radius: 10px;
  font-size: var(--f-xssize);
  padding: 5px 0px 5px 10px;
  position: relative;
  text-align: left;
  width: 41%;
  word-spacing: -2px;
}

.material-icons {
  color: #331797c0;
  position: absolute;
}

.material-icons:hover {
  cursor: pointer;
}

.material-icons .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.material-icons--sessions {
  color: #6c4be4;
  position: absolute;
  left: -35px;
}

.material-icons--subscribers {
  background: -webkit-gradient(linear, left top, right top, from(#585df9), to(#673ee2));
  background: linear-gradient(90deg, #585df9, #673ee2);
  bottom: 30px;
  border-radius: 5px;
  color: #f2eff3;
  font-size: 20px;
  left: 3px;
  padding: 6px;
}

.material-icons--open {
  color: #f2eff3;
  bottom: 25px;
  right: 12px;
}

.material-icons--navbar {
  color: #f2eff3;
  left: 50px;
}

.material-icons--navcard {
  font-size: 40px;
  top: 20px;
}

.material-icons--audit {
  color: var(--c-white);
  background: #ccbda1;
  border-radius: 3px;
  font-size: 12px;
  left: 90px;
  padding: 1px;
  top: 8px;
}

@media screen and (min-width: 992px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3ff), to(#e8e9fe));
    background: linear-gradient(#f3f3ff, #e8e9fe);
    border-radius: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 45px;
    margin-right: 40px;
    padding: 40px 5px 50px 180px;
    position: absolute;
    left: 160px;
    z-index: -1;
  }
  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 25px 0;
  }
  .profile__chart {
    margin-left: 50px;
    margin-top: 90px;
    margin-bottom: 50px;
  }
  .profile__chart svg {
    width: 550px;
  }
  .subscriberscard {
    padding: 10px 30px 10px 46px;
    width: 115%;
  }
  .profıt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 110%;
  }
  .profıtcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .profıtcard__desc5--background {
    max-width: 20%;
    width: 14%;
  }
  .after--profıtcard {
    background: #78797a;
    left: 602px;
  }
  .after--profıtcard:hover {
    cursor: pointer;
  }
  .after--profıtcard--one {
    background: #78797a;
    top: 30px;
    left: 596px;
    right: 10px;
  }
  .after--profıtcard--two {
    background: #78797a;
    top: 30px;
    left: 590px;
  }
  .profıtcard {
    width: 100%;
  }
}

.psvg {
  position: relative;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 1000;
}

.psvg .pcrc {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 17;
  stroke-linecap: round;
  -webkit-transform: translate(6px, 6px);
          transform: translate(6px, 6px);
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
}

.psvg .pcrc1 {
  stroke-dashoffset: calc(490 - (490*75) / 100);
  stroke: #8034f1;
}

.percent {
  margin-top: 10px;
  margin-left: 40px;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
}

.percent ::after {
  content: "";
  background: var(--c-white);
  border-radius: 100px;
  bottom: 0;
  right: 112px;
  position: absolute;
  top: 90px;
  width: 12px;
  height: 13px;
}

.percent__number {
  height: 10px;
  left: 31px;
  margin: 0px;
  position: absolute;
  top: 70px;
  text-align: center;
  z-index: 1000;
  width: 100%;
}

.percent__nbr {
  color: var(--c-white);
  font-size: var(--f-bigsize);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0px;
}

.percent__text {
  color: #dbdbdb;
  margin: 0px;
}

.svgcircle {
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 115px;
  left: 42px;
}

.svgcircle .percentcircle {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.svgcircle .crc-circle {
  width: 100%;
  height: 100%;
  stroke-width: 50;
  stroke-linecap: round;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  stroke: white;
  stroke-dasharray: 10;
  stroke-dashoffset: 20;
}

.svgcircle .crc-circle1 {
  stroke-dashoffset: 200;
  fill: #8034f1;
  z-index: -1;
}
/*# sourceMappingURL=App.css.map */