@charset "UTF-8";
body {
  background: #eceefd;
}

.aside {
  float: left;
  margin: 100px 0px 100px 80px;
  max-width: 350px;
}

.nav-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#8D49F2), to(#595BFB));
  background: linear-gradient(#8D49F2, #595BFB);
  border-radius: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 50px;
}

.nav-wrap__img a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
}

.nav-wrap__nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-wrap__nav a {
  color: white;
  text-decoration: none;
  padding: 25px;
}

.nav-wrap__nav a:nth-child(1) {
  padding-top: 50px;
}

.nav-wrap__nav a:nth-child(7) {
  padding-bottom: 250px;
}

.nav-wrap__card {
  background: #E2D7FF;
  border-radius: 30px;
  color: #6542E4;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-top: 50px;
  position: relative;
  text-align: left;
}

.nav-wrap__card span {
  max-width: 140px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav-wrap__card::after {
  content: "";
  background: #546AB6;
  border-radius: 100px;
  bottom: 0;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 29px;
}

.nav-wrap__card::before {
  content: "";
  background: #546AB6;
  border-radius: 100px;
  bottom: 0;
  position: absolute;
  width: 5px;
  height: 5px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 36px;
}

.active {
  font-size: 20px;
}

main {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E8E9FE));
  background: linear-gradient(#FFFFFF, #E8E9FE);
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
  padding: 60px 30px 50px 180px;
  position: absolute;
  left: 200px;
  z-index: -1;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sessionscard {
  padding: 30px 35px;
}

.sessionscard__title {
  color: #1B1C20;
  margin: 0px;
}

.sessionscard__title1 {
  color: #6C4BE4;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.sessionscard__title2 {
  color: #000000;
  font-size: 12px;
}

.subscriberscard {
  padding: 18px 35px;
  background: #FDFCFE;
  border-radius: 25px;
}

.subscriberscard__title {
  font-size: 11px;
  color: #1B1C20;
  margin: 0px;
}

.subscriberscard__title1 {
  color: #6C4BE4;
  font-size: 24px;
  font-weight: bold;
  margin: 0px;
}

.subscriberscard__title2 {
  color: #000000;
  font-size: 12px;
}

.profıtcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 16px;
}

.profıtcard__title {
  color: #2B2B2D;
}

.profıtcard__desc5--background {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #FDFCFE;
  border-radius: 20px;
  color: #2B2B2D;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.profile__growth {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profile__overal h1 {
  color: #6C4BE4;
  margin-bottom: 0px;
}

.profile__overal p {
  color: #000000;
  margin-top: 0px;
}

.button {
  background: white;
  border-radius: 26px;
  color: #6C4BE4;
  padding: 6px 8px 14px;
}

.button__one {
  font-size: 14px;
  border-radius: 15px;
  margin: 2px;
  padding: 2px 20px 2px 6px;
}

.button__one:hover {
  cursor: pointer;
}

.button__two {
  background: -webkit-gradient(linear, left top, left bottom, from(#585DF9), to(#673EE2));
  background: linear-gradient(#585DF9, #673EE2);
  border-radius: 15px;
  color: white;
  font-size: 14px;
  margin: 2px;
  padding: 2px 20px;
}

.button__two:hover {
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */