body{
    background: rgb(236, 238, 253);
    
    //position:relative;
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
}
:root{
    --c-genel:#6C4BE4;
    --c-white:white;
    --c-black: black;
    --f-bigsize: 24px;
    --f-smsize:  20px;
    --f-xssize: 12px;
}
.aside{
    float:left;
    margin: 100px 0px 100px 80px;
    max-width:350px;
    
}
.nav-wrap{
    background:linear-gradient(#8D49F2,#595BFB) ;
    border-radius: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 50px;
    position: relative;
    &__img a{
        color: white;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    }
    
    &__nav{
        
        display: inline-flex;
        flex-direction: column;
        & a{
            color: white;
            text-decoration: none;
            padding: 25px;
            padding-left: 95px;
            text-align: left;
        }
        & a:nth-child(1){
            padding-top: 50px;   
        }
        & a:nth-child(7){
            padding-bottom: 250px;   
        }
    }

    &__card{
       
        background: #E2D7FF;
        border-radius: 30px;
        color: var(--c-genel);
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 50px;
        position: relative;
        text-align: left;
        
        & span{
            max-width: 140px;
            display: inline-flex;
        }
}
}

.after{
    content:"";
    background:#546AB6;
        border-radius: 100px;
        bottom: 0;
        position: absolute;
        width: 4px;
        height: 4px;
        right: 30px;
        transform: translateX(-50%);
        top: 30px;
    &--card{
        top: 36px;
    }    
    &--card2{
        top: 42px;
    }
    &--color{
        background:#78797a;
    } 
    &--prof覺t{
        background: #78797a;
        right: 44px;
        &--one{
            background: #78797a;
            top: 30px;
            right: 38px;
        }
        &--two{
            background: #78797a;
            top: 30px;
            right: 32px;
        }
    }
}
.active {
  font-size: 20px;
}
main{
    background: linear-gradient(#f3f3ff,#E8E9FE);
    border-radius: 45px;
    display: flex;
   // float:left;
    left: 20px;
    justify-content: space-between;
    margin-top: 45px;
    margin-right: 40px;
    padding: 40px 5px 50px 180px ;
    position: absolute;
    left:200px;
    z-index: -1;
}
/*.card{}*/
.sessionscard{
   
   position: relative;
    &__title{
        color:var(--c-black);
        margin:0px;
    }
    &__title1{
        color: var(--c-genel);;
        font-size: 24px;
        font-weight:bold;
        margin:0px;
    }
    &__title2{
        color:var(--c-black);
        font-size:var(--f-xssize);
    }
}

.subscriberscard{
    align-items: center;
    background: var(--c-white);
    border-radius: 25px;
    padding:5px 10px 5px 46px;
    margin: 5px;
    position: relative;
    text-align: left;
     &__title{
         font-size: var(--f-xssize);
         color:var(--c-black);
         margin: 0;
         white-space: nowrap;
         
     }
     &__title1{
         color:var(--c-genel);
         font-size: var(--f-smsize);
         font-weight:bold;
         margin-bottom: 9px;
         margin-top: 9px;

     }
     &__title2{
        color:var(--c-black);
        font-size:var(--f-xssize);
         margin: 0;
     }
 }

 .prof覺tcard{
    flex-direction: column;
    font-size: var(--f-xssize);
    padding: 16px;
    position: relative;
    width: 150%;
    &__title{
        
         color: var(--c-black);
         
     }
     &__desc5--background{
         align-items: center;
         background: var(--c-white) ;
         border-radius: 20px;
         color: (var(--c-black));
         padding: 2px ;
         height: 17px;
         width: 14%;
         text-align: center;
     } 
 }

 .profile{
     &__growth{
        align-items: center;
        display:flex;
        justify-content: space-between;
     }
     &__overal h3{
        color: var(--c-genel);
         margin-bottom: 0px;
     }
     &__overal p{
        color:var(--c-black);
        font-size:var(--f-xssize);
        margin-top: 0px;
    }
 }

 .button{
     background: var(--c-white);
     border-radius: 26px;
     padding: 6px 6px 10px 6px;
    
     &__one{
 
        border-radius: 15px;
        color: var(--c-genel);
        font-size: var(--f-xssize);
        margin: 2px;
        padding: 2px 4px 2px 6px;
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
       
     }
     &__two{
        background: linear-gradient(90deg,#585DF9,#673EE2);
        border-radius: 15px;
        color: var(--c-white);
        font-size: var(--f-xssize);
         margin: 2px;
        padding: 2px 14px;
        text-decoration: none;
        &:hover{
            cursor: pointer;
        }
        
     }
 }

 .open{
    padding:0px 10px;
    font-size: var(--f-xssize);

 }
 .usertitle{
    position: relative;
    font-size: 16px;

        &__wrap{
            display: flex;
            justify-content: space-between;
        }
        &__img{
            margin: 0px 10px 0 0 ;
            margin-bottom: 20px;
        }
        &__namewrap{
            display: flex;
        }
        &__name{
            color: #3415a3;
            margin: 10px 0px 0px 0px;
            text-align: left;
        }
        &__job{
            color: #4023aa;
            margin: 0px;
        }
        &__handle{
            &::after{
                content:"";
                background:#546AB6;
                    border-radius: 100px;
                    bottom: 0;
                    height: 2px;
                    position: absolute;
                    right: 0px;
                    top: 18px;
                    width: 15px;
            }
            
            &--two{
                height: 2px;
                position: absolute;
                right: 0px;
                top: 6px;
                width: 10px;       
            }

        }
 }
.opentitle{
    
    .subtitle{
        align-items: center;
        background: var(--c-white);
        border-radius: 18px;
        display: flex;
        height: 70px;
        justify-content: space-between;
        margin-bottom: 15px;
        padding: 12px;
        position: relative;
        white-space: nowrap;
     }
   &__sub1{
    color:var(--c-genel);
    font-size: var(--f-smsize);
    font-weight:bold;
   }
   &__pro{
       display: flex;
       flex-direction: column;
   }
   &__detail{
    background:linear-gradient(90deg,#5f64fa,#673EE2);
    border-radius: 8px;
    padding:13px;
}
} 


.analytics{
    &__wrap{
        align-items: center;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    &__title{

        color:var(--c-genel);
        font-size: 18px;
        font-weight: bold;
        margin-top: 21px;
    }
    &__date{
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        &-subtitle{
            color: #4023aa;
            margin:0;
            text-align: center;
        }
        &-sub{
           background:white;
           border-radius: 12px;
           min-width: 54px;
           text-align: center;
           padding:40px 8px 8px;
           &--padding{
            padding:100px 8px 8px; 
           } 
        }
        

    }
}

.date{
    align-items: center;
    display: flex;
    justify-content: space-between;
    &__day{
        display: flex;
        flex-direction: column;
        font-size: var(--f-xssize);
        text-align: center;
        
        &--background{
            background:var(--c-white);
            border-radius: 20px; 
            padding: 10px;
            position: relative;
            ::before{
                content: "";
                border-radius: 100px;
                border: 1.4px #000000 solid ;
                bottom: 0 ;
                height: 1.8px;
                position: absolute;
                right: 10%;
                transform: translateX(-50%);
                top: 50%;
                width: 1.8px;
            }
        }
        &sub{
            color:var(--c-genel);
            &--color{
                color: black;
            }   
        }
        &--after{
             
            position: relative;
            ::after{
                content: "";
                background: orange;
                border-radius: 100px;                
                bottom: 0 ;
                height: 4px;
                left: 110%;
                position: absolute;
                transform: translateX(-50%);
                top: 12px;
                width: 4px;
            }
        }
        
    }
}

.search{
    
    &__wrap{
        
        background:#fff;
        border-radius: 28px;
        max-width: 280px;
        padding: 13px 15px;
        position:relative;
        
    }
    &__input{
        border:none;
        color: #4023aa;
        font-size: 14px;
        padding-left: 28px;

    }
    
}

.material-icons{
    color: #331797c0;
    position:absolute;
    .card{
        display: flex;
        justify-content: space-between;
    }
    &--sessions{
        color: #6C4BE4;
        position:absolute;
        left: -35px;
    }
    &--subscribers{
        background: linear-gradient(90deg,#585DF9,#673EE2);
        bottom: 30px;
        border-radius: 5px ;
        color: rgb(242, 239, 243);
        font-size: 20px;
        left: 3px;
        padding:6px;
    }

    &--open{
        color: rgb(242, 239, 243);
        bottom: 25px;
        right: 12px;

    }
    &--navbar{
        color: rgb(242, 239, 243);
        left: 35px;
    }
    &--navcard{
        font-size: 40px;
        top: 20px;
    }
   
}



@media screen and(min-width:992px){
    .card{
        display:flex;
        justify-content: space-between;
        padding:25px 0;
        width: 100%;
    }
    .subscriberscard{
        margin: 7px;
        padding:10px 30px 10px 46px;
        margin: 3px;
        width: 115%;
    }
    .prof覺t {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width:66%;
    }
    .prof覺tcard{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        &__desc5--background{
        max-width: 20%;
        }
    }
    .profile{
        width:100%;
    }
}