body {
  background: rgb(236, 238, 253);
}

:root {
  --c-genel: #6c4be4;
  --c-white: white;
  --c-black: black;
  --f-bigsize: 24px;
  --f-smsize: 20px;
  --f-xssize: 12px;
}

.aside {
  float: left;
  margin: 100px 0px 100px 70px;
  display: none;
}

.nav-wrap {
  background: linear-gradient(#8d49f2, #595bfb);
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-top: 25px;
  position: relative;
  &__img img {
    width: 60%;
    align-items: center;
    margin: auto;
  }
  &__img a {
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
  }
  &__messages-subtitle{
    
      background:rgb(167, 77, 77);
      border-radius: 5px;
      color: var(--c-white);
      font-size: 10px;
      left: 190px;
      padding: 3px 7px 2px;
      position: absolute;
      top: 434px;
  }
  &__nav {
    display: inline-flex;
    flex-direction: column;

    &link {
      align-items: center;
      color: var(--c-white);
      text-decoration: none;
      margin: 20px;
      padding-left: 70px;
      text-align: left;
      &.active {
        font-weight: bold;
      }
    }

    & a:nth-child(1) {
      padding-top: 50px;
    }
    & a:nth-child(7) {
      padding-bottom: 200px;
    }

    
  }

  &__card {
    background: #e2d7ff;
    border-radius: 30px;
    color: var(--c-genel);
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 50px;
    position: relative;
    text-align: left;

    & span {
      max-width: 140px;
      display: inline-flex;
    }
  }
}

.after {
  content: "";
  background: #546ab6;
  border-radius: 100px;
  bottom: 0;
  position: absolute;
  width: 4px;
  height: 4px;
  right: 30px;
  transform: translateX(-50%);
  top: 30px;

  &--card {
    top: 36px;
    &:hover {
      cursor: pointer;
    }
  }

  &--card2 {
    top: 42px;
    &:hover {
      cursor: pointer;
    }
  }

  &--color {
    &:hover {
      cursor: pointer;
    }
    background: #78797a;
  }

  &--profıtcard {
    background: #78797a;
    left: 155px;
    //right: 155px;

    &:hover {
      cursor: pointer;
    }

    &--one {
      background: #78797a;
      top: 30px;
      left: 162px;
      //right: 98px;
    }

    &--two {
      background: #78797a;
      top: 30px;
      left: 168px;
      //right: 92px;
    }
  }
}

main {
  background: linear-gradient(#f3f3ff, #e8e9fe);
  border-radius: 45px;
  margin-top: 45px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 5px 50px 40px;
  position: absolute;
  z-index: -1;
}

.card {
  padding: 10px 0;
}

.sessionscard {
  padding-top: 20px;
  position: relative;
  &__title {
    color: var(--c-black);
    font-size: 15px;
    margin: 0px;
  }
  &__title1 {
    color: var(--c-genel);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 6px;
  }
  &__title2 {
    color: var(--c-black);
    font-size: var(--f-xssize);
  }
}

.subscriberscard {
  align-items: center;
  background: var(--c-white);
  border-radius: 18px;
  padding: 5px 10px 5px 46px;
  margin: 5px;
  position: relative;
  text-align: left;
  &__title {
    font-size: var(--f-xssize);
    color: var(--c-black);
    margin-bottom: 2px;
    margin-top: 5px;
    white-space: nowrap;
  }
  &__title1 {
    color: var(--c-genel);
    font-size: var(--f-smsize);
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
  }
  &__title2 {
    color: var(--c-black);
    font-size: var(--f-xssize);
    margin: 0;
    margin-bottom: 4px;
  }
}

.profıtcard {
  flex-direction: column;
  font-size: var(--f-xssize);
  padding: 16px;
  position: relative;

  &__title {
    color: var(--c-black);
  }
  &__desc5--background {
    align-items: center;
    background: var(--c-white);
    border-radius: 20px;
    color: (var(--c-black));
    padding: 2px;
    height: 17px;
    width: 26%;
    text-align: center;
  }
}

.profile {
  position: relative;
  &__growth {
    align-items: center;
    display: flex;
    padding-bottom: 24px;
    justify-content: space-between;
  }
  &__overal h3 {
    color: var(--c-genel);
    margin-bottom: 6px;
  }
  &__overal p {
    color: var(--c-black);
    font-size: var(--f-xssize);
    margin-top: 0px;
   
  }

  &__chart {
    margin-top: 90px;
    margin-bottom: 50px;
    position: relative;
    svg {
      width: 400px;
    }
    &::after {
      content: "";
      border-bottom: 0.1rem solid rgb(199, 199, 199);
      position: absolute;
      top: 150px;
      left: -20px;
      width: 400px;
    }
    &::before {
      content: "";
      border-bottom: 0.1rem solid rgb(199, 199, 199);
      position: absolute;
      top: 60px;
      transform: rotate(90deg);
      left: -110px;
      width: 180px;
    }
    &--border {
      &::after {
        content: "";
        border-bottom: 0.1rem dashed rgb(199, 199, 199);
        left: -20px;
        position: absolute;
        top: -16px;
        width: 400px;
        z-index: -1;
      }
      &--1 {
        &::after {
          top: 28px;
        }
      }
      &--2 {
        &::after {
          top: 70px;
        }
      }
      &--3 {
        &::after {
          top: 112px;
        }
      }
    }
    
    &sept {
      background: linear-gradient(90deg, #585df9, #673ee2);
      border-radius: 20px;
      padding: 16px 24px 0px 30px;
      max-width: 33%;
      position: absolute;
      top: -120px;
      left: 100px;
  
    }
    &--dlr {
      color: var(--c-white);
      font-size: var(--f-smsize);
      margin-top: 6px;
    }
    &--sept {
      color: var(--c-white);
      font-size: 11px;
      white-space: nowrap;
    }
    &--number{
      color: var(--c-genel);
      font-size: var(--f-smsize);
      top: 26px;
      left: -3px;
      position: absolute;
      &1{
        left: 234px;
        top: 6px; 
      }
      &2{
        left: 310px;
        top: 2px; 
      }
    }
    

    &months{
        color: var(--c-black);
        display: flex;
        font-size:var(--f-xssize);
        //justify-content: space-around;
        
        margin-right: auto;
        margin-top: 25px;
        text-align: left;
        &--text{
          margin-right: 12px;
          
        }
    }

    &years{
      color: var(--c-black);
      display: flex;
      font-size:var(--f-xssize);
      flex-direction: column;
      position: absolute;
      bottom: 60px;
      left: -56px;
      &--text{
          margin-bottom: 18px;
      }
    }
  }
}

.button {
  background: var(--c-white);
  border-radius: 26px;
  padding: 6px 6px 10px 6px;
  width: 84%;
  &__one {
    border-radius: 15px;
    color: var(--c-genel);
    font-size: var(--f-xssize);
    margin: 2px;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__two {
    background: linear-gradient(90deg, #585df9, #673ee2);
    border-radius: 15px;
    color: var(--c-white);
    font-size: var(--f-xssize);
    margin: 2px;
    padding: 2px 14px;
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.open {
  padding: 0px 20px;
  font-size: var(--f-xssize);
}

.usertitle {
  position: relative;
  font-size: 16px;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__img {
    margin: 0px 10px 0 0;
    margin-bottom: 20px;
  }
  &__namewrap {
    display: flex;
  }
  &__name {
    color: #3415a3;
    margin: 10px 0px 0px 0px;
    text-align: left;
  }
  &__job {
    color: #4023aa;
    margin: 0px;
  }
  &__handle {
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: "";
      background: #546ab6;
      border-radius: 100px;
      bottom: 0;
      height: 2px;
      position: absolute;
      right: 0px;
      top: 16px;
      width: 15px;
    }

    &--two {
      height: 2px;
      position: absolute;
      right: 0px;
      top: 6px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.opentitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .subtitle {
    align-items: center;
    background: var(--c-white);
    border-radius: 18px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 22px;
    position: relative;
    white-space: nowrap;
  }
  &__sub1 {
    color: var(--c-genel);
    font-size: var(--f-smsize);
    font-weight: bold;
    margin-top: 6px;
  }
  &__pro {
    display: flex;
    flex-direction: column;
  }
  &__detail {
    background: linear-gradient(90deg, #5f64fa, #673ee2);
    border-radius: 8px;
    padding: 14px;
  }
}

.analytics {
  &__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__title {
    color: var(--c-genel);
    font-size: 18px;
    font-weight: bold;
    margin-top: 21px;
  }
  &__date {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    &-subtitle {
      color: #4023aa;
      margin: 0;
      text-align: center;
    }
    &-sub {
      background: white;
      border-radius: 12px;
      min-width: 54px;
      text-align: center;
      padding: 40px 8px 8px;
      &--padding {
        padding: 100px 8px 8px;
      }
    }
  }
}

.date {
  align-items: center;
  display: flex;
  justify-content: space-around;
  &__day {
    display: flex;
    flex-direction: column;
    font-size: var(--f-xssize);
    text-align: center;

    &--background {
      background: var(--c-white);
      border-radius: 20px;
      padding: 10px;
      position: relative;
      ::before {
        content: "";
        border-radius: 100px;
        border: 1.4px #000000 solid;

        height: 4px;
        position: absolute;
        right: 5px;
        transform: translateX(-50%);
        top: 30px;
        width: 4px;
      }
    }
    &sub {
      color: var(--c-genel);
      margin-top: 10px;
      &--color {
        color: black;
      }
    }
    &--after {
      position: relative;
      ::after {
        content: "";
        background: orange;
        border-radius: 100px;
        bottom: 0;
        height: 4px;
        left: 16px;
        position: absolute;
        transform: translateX(-50%);
        top: 18px;
        width: 4px;
      }
    }
  }
}

.search {
  margin-top: 20px;
  &__wrap {
    background: #fff;
    border-radius: 28px;
    max-width: 280px;
    padding: 13px 15px;
    position: relative;
  }
  &__input {
    border: none;
    color: #4023aa;
    font-size: 14px;
    padding-left: 28px;
  }
}

.audit {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 21px;

  &__title {
    margin: 0;
    text-align: center;
  }
  &__text {
    background: var(--c-white);
    border-radius: 10px;
    font-size: var(--f-xssize);
    padding: 5px 0px 5px 10px;
    position: relative;
    text-align: left;
    width: 39%;
    word-spacing: -2px;
  }
}

.privilege {
  align-items: center;
  position: relative;

  &::after {
    content: "";
    background: var(--c-genel);
    border-radius: 100px;
    bottom: 0px;
    height: 6px;
    right: 0px;
    left: 0px;
    top: 65px;
    position: absolute;
    width: 60%;
  }
  &::before {
    content: "";
    background: #dbdbdb;
    border-radius: 100px;
    bottom: 0px;
    height: 6px;
    right: 0px;
    left: 0px;
    top: 65px;
    position: absolute;
    width: 100%;
  }
  &__number {
    color: var(--c-genel);
    font-size: var(--f-bigsize);
    margin-bottom: 5px;
    margin-top: 28px;
  }

  &__text {
    color: var(--c-black);
  }
}

.material-icons {
  color: #331797c0;
  position: absolute;
  &:hover {
    cursor: pointer;
  }
  .card {
    display: flex;
    justify-content: space-between;
  }
  &--sessions {
    color: #6c4be4;
    position: absolute;
    left: -35px;
  }
  &--subscribers {
    background: linear-gradient(90deg, #585df9, #673ee2);
    bottom: 30px;
    border-radius: 5px;
    color: rgb(242, 239, 243);
    font-size: 20px;
    left: 3px;
    padding: 6px;
  }

  &--open {
    color: rgb(242, 239, 243);
    bottom: 24px;
    right: 23px;
  }
  &--navbar {
    color: rgb(242, 239, 243);
    left: 50px;
  }
  &--navcard {
    font-size: 40px;
    top: 20px;
  }

  &--audit {
    color: var(--c-white);
    background: rgb(204, 189, 161);
    border-radius: 3px;
    font-size: 12px;
    left: 90px;
    padding: 1px;
    top: 6px;
  }
}



.psvg {
  position: relative;
  width: 220px;
  height: 220px;
  transform: rotate(-90deg);
  z-index: 1000;
  .pcrc {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 17;
    stroke-linecap: round;
    transform: translate(6px, 6px);
    stroke-dasharray: 490;
    stroke-dashoffset: 490;
  }

  .pcrc1 {
    stroke-dashoffset: calc(490 - (490 * 75) / 100);
    stroke: #8034f1;
  }
}

.percent {
  margin-top: 10px;
  margin-left: 20px;

  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  ::after {
    content: "";
    background: var(--c-white);
    border-radius: 100px;
    bottom: 0;
    right: 106px;
    position: absolute;
    top: 107px;
    width: 12px;
    height: 13px;
  }
  &__number {
    height: 10px;
    left: 31px;
    margin: 0px;
    position: absolute;
    top: 70px;
    text-align: center;
    z-index: 1000;
    width: 100%;
  }

  &__nbr {
    color: var(--c-white);
    font-size: var(--f-bigsize);
    transition: 0.5s;
    margin: 12px 0 0 16px;
  }

  &__text {
    color: rgb(219, 219, 219);
    margin: 12px 0 0 16px;
  }
}

.progresscircle {
  width: 10;
  height: 25px;
}

.svgcircle {
  position: relative;
  width: 230px;
  height: 230px;
  bottom: 115px;
  left: 18px;
}

.crc-circle {
  width: 100%;
  height: 100%;
  stroke-width: 50;
  stroke-linecap: round;
  transform: translate(2px, 2px);
  stroke: rgb(255, 255, 255);
  stroke-dasharray: 10;
  stroke-dashoffset: 20;
}

.crc-circle1 {
  stroke-dashoffset: 200;
  fill: #8034f1;
  z-index: -1;
}

@media screen and(min-width:992px) {
  main {
    background: linear-gradient(#f3f3ff, #e8e9fe);
    border-radius: 45px;
    display: flex;
    // float:left;
    justify-content: space-between;
    margin-top: 45px;
    margin-right: 40px;
    padding: 40px 5px 50px 180px;
    position: absolute;
    left: 160px;
    z-index: -1;
  }
  .aside {
    display: flex;
  }

  .card {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
  }

  

  .subscriberscard {
    padding: 13px 30px 13px 46px;
    width: 108%;
  }

  .profıt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 110%;
  }

  .profıtcard {
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    &__desc5--background {
      width: 60%;
    }
  }

  .after--profıtcard {
    background: #78797a;
    right: 70px;
    left: auto;

    &:hover {
      cursor: pointer;
    }

    &--one {
      background: #78797a;
      top: 30px;
      right: 63px;
      left: auto;
    }

    &--two {
      background: #78797a;
      top: 30px;
      right: 56px;
      left: auto;
    }
  }

  
 
  .profile__chart {
    margin-left: 95px;
    margin-top: 90px;
    margin-bottom: 50px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 150px;
      left: -45px;
      width: 575px;
    }
    &::before {
      content: "";
      border-bottom: 0.1rem solid rgb(199, 199, 199);
      position: absolute;
      top: 60px;
      transform: rotate(90deg);
      left: -135px;
      width: 180px;
    }
    &sept {
      padding: 14px 24px 0px 30px;
      max-width: 23%;
      position: absolute;
      top: -120px;
      left: 90px;
  
    }
    svg {
      width: 600px;
    }

    &--border {
      &::after {
        content: "";
        border-bottom: 0.1rem dashed rgb(199, 199, 199);
        left: -45px;
        position: absolute;
        top: -16px;
        width: 575px;
        z-index: -1;
      }
      &--1 {
        &::after {
          top: 28px;
        }
      }
      &--2 {
        &::after {
          top: 70px;
        }
      }
      &--3 {
        &::after {
          top: 112px;
        }
      }
    }
    &--number2{
      left: 434px;
    }
    &months{
      &--text{
        margin-right: 28px;
        
      }
    }
    &years{
      
      left: -96px;
     
    }
  }
}
